extends ./layout.pug

block content
    - var pData = pData;
    //- var tData = tData

    #p_directory.conatiner
        .row
            .col-8
                h6 Lorem Ipsum Dolor
                p Search for patients by lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt exercitationem quibusdam magni nostrum, reiciendis fugit consequatur a tempora velit autem voluptatum ab sequi nulla, similique tenetur accusantium. Cum, ratione veritatis?
        br
        h3#sub_title Search For Patient Profiles to Update or Delete
        .row.mb-4
            .col-2
                label(for='pname') Search by Last Name
                input#nameSearch.form-control(type='text' placeholder='Name' name='pname')
        .row.mb-4
            .col-2
                label(for='pid') Search by ID Number
                input#idSearch.form-control(type='text' placeholder='ID' name='pid')
        br   
            
        .row.mb-4
            .col.col-9
                table.table.table-hover.pTable
                    thead
                        //align="center"
                        tr 
                            th ID Number
                            th First Name
                            th Last Name
                            th Notes
                            th 
                            th 
                    tbody
                        each val in pData
                            tr.info
                                td.id= val._id.toString()
                                td= val.fname
                                td.name= val.lname
                                td.notes= val.notes
                                td 
                                    button.uPat.ubtn.formbtn.btn(type='button') Update
                                td 
                                    form.deleteForm(action='/user/edit_profile' method='post' enctype="application/x-www-form-urlencoded")
                                        input.dPat(type="hidden" name="deletedPatient" value= val._id)
                                        button.formbtn.btn(type='submit') Delete
                                        
                                
                            