extends ./layout.pug

block content
    #p_directory.conatiner
        .row
            .col-8
                h6 Lorem Ipsum Dolor
                p Search for patients by lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt exercitationem quibusdam magni nostrum, reiciendis fugit consequatur a tempora velit autem voluptatum ab sequi nulla, similique tenetur accusantium. Cum, ratione veritatis?
        br
        h3#sub_title Search For Patient Profiles to Update or Delete
        .row.mb-4
            .col-2
                label(for='pname') Search by Patient Name
                input.form-control(type='text' placeholder='Name' name='pname')
        .row.mb-4
            .col-2
                label(for='pid') Search by Patient ID
                input.form-control(type='text' placeholder='ID' name='pid')
        br   
            
        .row.mb-4
            //table headers, rest generated via noSQL
            .col
                table.table.table-hover
                    thead
                        //align="center"
                        tr 
                            th ID Number
                            th First Name
                            th Last Name
                            th Date of Birth 
                            th Sex 
                            th Gender 
                            th Age 
                            th Education
                            th ESL 
                            th LV 
                            th Diagnosis 
                            th Medication
                            th Update/Delete
                    tbody
                        tr
                            td ID Number
                            td First Name
                            td Last Name
                            td Date of Birth 
                            td Sex 
                            td Gender 
                            td Age 
                            td Education
                            td ESL 
                            td LV 
                            td Diagnosis 
                            td Medication
                            td 2 Buttons Update and Delete
                //for each patient create a tr with one td in it
                //will contain the test/questionnaire results and notes from patient profile
                //delete will trigger an alert and then delete
                //update will display the patient form with current details in input area