form#information(action='/user/register' method='post' enctype="application/x-www-form-urlencoded")
    .row.mb-1
        .col-3
            label(for='fname') First Name:
            input.form-control(type='text' placeholder='First Name' name='fname' required)
        .col-3
            label(for='lname') Last Name:
            input.form-control(type='text' placeholder='Last Name' name='lname' required)
    br
    .row.mb-1
        .col-3
            label(for='age') Age:
            input.form-control(type='text' placeholder='Age' name='age' required)
        .col-3
            label(for='dob') Date of Birth:
            input.form-control(type='date' placeholder='' name='dob' required)
    br
    .row.mb-1
        .col-3
            label(for='sex') Sex:
            select.form-control(name='sex' required)
                option(value="female") Female
                option(value="male") Male
                option(value="other") Other
        .col-3
            label(for='gen') Gender:
            select.form-control(name='gen' required)
                option(value="woman") Woman
                option(value="man") Man
                option(value="other") Other
    br
    .row.mb-1
        .col-4
            label(for='edu') Highest Level of Education (total years):
            select.form-control(name='edu' required)
                option(value="18") Graduate Studies(18+ years)
                option(value="16") Undergraduate Studies(16 years)
                option(value="14") Associates Degree/Diploma(14 years)
                option(value="12") High School(12 years)
                option(value="11") Grade 11
                option(value="11") Grade 10
                option(value="11") Grade 9
                option(value="11") Grade 8
                option(value="7") Under Grade 8
    br
    .row.mb-1
        .col-3
            | English As A Second Language
            br
            .form-check-inline
                label.form-check-label
                    input.form-check-input(type='radio' value= 'yes' name='esl' required) 
                    | Yes
            .form-check-inline
                label.form-check-label
                    input.form-check-input(type='radio' value= 'no' name='esl' required) 
                    | No
        .col
            | Language Validity
            br
            .form-check-inline
                label.form-check-label
                    input.form-check-input(type='radio' value= 'yes' name='langv' required) 
                    | Yes
            .form-check-inline
                label.form-check-label
                    input.form-check-input(type='radio' value= 'no' name='langv' required) 
                    | No
    br
    .row.mb-1
        .col-3
            label(for='diag') Axis I Diagnosis:
            select.form-control(name='diag' required)
                option(value="sch") Schizophrenia
                option(value="sche") Schizoaffective
                option(value="pnos") Psychosis Not Otherwise Specified 
                option(value="dd") Delusional Disorder 
                option(value="md") Mood Disorder
                option(value="mdwp") Mood Disorder with Psychosis

        .col-3
            | Treated with Antipsychotic Medication
            br
            .form-check-inline
                label.form-check-label
                    input.form-check-input(type='radio' value= 'yes' name='meds' required) 
                    | Yes
            .form-check-inline
                label.form-check-label
                    input.form-check-input(type='radio' value= 'no' name='meds' required) 
                    | No
        .col-4
            .form-group
                label(for='notes') Additional Notes:
                textarea#comment.form-control(rows='5' name='notes')
    .row.mb-1
        .col-2.mt-4
            button#formbtn.btn.mb-2(type='submit') Submit
