doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="../user/sass/style.css")
    script(type='text/javascript' src='../user/js/script.js' defer)
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
    link(rel="shortcut icon" href="../img/favicon.png" type="image/x-icon")
    title= 'CMA' + page
    
body.bg-image
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous')

    //top nav
    nav#topnav.navbar-dark.col.navbar.d-flex.justify-content-end.fixed-top
        ul.nav
            //my profile
            li.nav-item.d-inline-block
                a.nav-link(href='/user/account') Account
            //sign out
            li.nav-item.d-inline-block
                a.nav-link(href='/') Sign Out
            //logo
            li.nav-item
                img#logo.img-fluid.d-inline-block(src="img/logo32.png" alt="logo") 
    //side nav
    nav#sidenav.navbar-dark.navbar.col-2.fixed-top.vh-100.d-flex.justify-content-center
        //profile info
        section#profile.container-fluid.d-flex.flex-column.align-self-start
            .row
                #name
                    span= first_name + " " + last_name
                #date
                    span= date
        //nav
        ul.nav
            li.nav-item
                span#icon.fas.fa-home
                a.nav-link.d-inline-block(href='/user/dashboard') Dashboard
            li.nav-item
                span#icon.far.fa-address-book
                a.nav-link.d-inline-block(href='/user/patient_directory') Patient Directory
            li.nav-item
                span#icon.far.fa-user
                a.nav-link.d-inline-block(href='/user/profiles') Patient Profiles
            li#subnav.nav-item
                a.nav-link.d-inline-block(href='/user/add_patient') Add Patient
            li#subnav.nav-item
                a.nav-link.d-inline-block(href='/user/edit_profile') Edit Profile
            li.nav-item 
                span#icon.far.fa-folder
                a.nav-link.d-inline-block(href='/user/test_directory') Test Directory 
            li.nav-item
                span#icon.fas.fa-angle-double-right
                a.nav-link.d-inline-block(href='/user/session') Begin Testing  
    #main.container-fluid.vh-100
        .row.w-100
            #submain.col-12
                h1#title.col-4= page
                #content.col-12
                    block  content
                    