extends ./layout.pug

block content
    #patient_info.conatiner
        .row
            .col-8
                h6 Lorem Ipsum Dolor
                p Before registering a patient lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt exercitationem quibusdam magni nostrum, reiciendis fugit consequatur a tempora velit autem voluptatum ab sequi nulla, similique tenetur accusantium. Cum, ratione veritatis?
        br
        include ./formP.pug