@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


$general-bg: rgb(255, 255, 255);



$text-col-1: #494E6B;
$text-col-2: #e79821;
$text-col-3: #F1CC5F;

$link-bg: #99A8D0;


body {
    background-image: url('../../img/background3.png');
    background-color: $general-bg;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


//home
.nav-link:hover {
    background-color: $link-bg;
    transition: 500ms;
}
.nav-item:nth-of-type(3):hover{
    background-color: transparent;
}

.nav-link {
    color: $text-col-1;
    font-weight: bold;
}

.nav-link:hover {
    color: $text-col-2;
}

//sign up
.modal-content{
    background-color: $link-bg;
    margin-top: 35%;
}
h4.modal-title{
    color: $text-col-3
}
.email-warning{
    display: none;
}
form{
    width: 80%;
}
.short{
    max-width: 50%;
    min-width: 50%;
}
button.close{
    border: none;
    color: $text-col-1;
}

div.modal-body button{
    background-color: $text-col-1;
}

div.modal-body button:hover{
    background-color: $link-bg;
}

div.modal-body .btn-primary,
div.modal-body .btn-primary:active:focus, 
div.modal-body .btn-primary:focus{
    background-color: $text-col-1;
}

//footer
#footer-container {
    text-align: center;
    color: $text-col-2;
}