extends ./layout.pug
block content
    -var id = testID
    
    .row.d-flex.justify-content-center
        .col-6
            h5= 'Instructions:'
    .row.d-flex.justify-content-center
        #instructions.col-6
            | For the duration of 3 trials, you will be presented with a sequence of digits, 
            | where each digit is visible for 1 second. The start and end of the sequence will be signaled 
            | with a red circle, at which point you can type out your recollection of the number 
            | sequence in the input area provided below. If the response is correct (in digits and 
            | presentation order), you will move up to the next level and be provided with a longer 
            | sequence of digits to recall. Click 'Confirm' below to begin.
    
    #testArea.hide
        .row.d-flex.justify-content-center
            #number.col-6.hide
                | number goes here
            #circle.col-6
                span#icon.fas.fa-circle 
        .row.d-flex.justify-content-center
            #label.col-6
                label(for='answer') Type The Numbers Here:
        .row.d-flex.justify-content-center
            .answer.col-6
                input.form-control(type='text' name='answer')
    .row.d-flex.justify-content-center
        button.dsBtn.btn.mb-2(type='button' name='submit') Confirm

    .col.d-flex.justify-content-center
        form(action='test/test_end' method='post' enctype="application/x-www-form-urlencoded")
            .col
                ///////HIDDEN VARIABLE COLLECTION///////
                //test id
                input.form-control(type='hidden' value= id name='id' readonly)
                //start 
                input.form-control(type='hidden' name='start')
                //end 
                input.form-control(type='hidden' name='time')
                //lastDS
                input.form-control(type='hidden' name='lastDS')
                //longDS
                input.form-control(type='hidden' name='longDS')
                //TEST_ans (levels in array)
                input.form-control(type='hidden' name='TEST_ans')
                //MC_ans
                input.form-control(type='hidden' name='MC_ans')
            .end.col.mt-4.d-flex.justify-content-end.fixed-bottom
                button.btn.mb-2(type='submit') End Testing
    
